@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 243, 244, 246;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  /* background-image: url("https://t3.ftcdn.net/jpg/02/42/75/76/360_F_242757656_LYhzT9Kzxb5XdOsNY6SYSyroxMzZBeRN.jpg");
  background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.scrollbar-thin {
  scrollbar-width: thin; /* For Firefox */
}

.scrollbar-thumb-dark {
  scrollbar-color: #4b5563 #1f2937; /* For Firefox */
}

/* For Chrome, Edge, and Safari */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #1f2937;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
